.popup__input {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;

  width: 358px;
  border: none;
  margin-top: 30px;
  padding: 0px 0px 10px;
  border-bottom: 1px solid var(--accent);
}

@media screen and (max-width: 768px) {
  .popup__input {
    width: 238px;
    padding-bottom: 9px;
  }
}
