.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: var(--basic-white);
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 282px;
  }
}
