.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
  width: calc(100% - 2 * 200px);
}

@media screen and (max-width: 1000px) {
  .profile {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 42px auto 0;
    width: calc(100% - 2 * 19px);
  }
}
