.header {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 45px auto 0;
  width: calc(100% - 2 * 200px);
}

.header::after {
  /* width: 1158px; */
  height: 1px;
  content: "";
  background-image: url("/images/line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin: 28px auto 0;
    gap: 31px;
  }
}
