.article__like {
  display: inline-block;
  min-width: 22px;
  height: 19px;
  border: none;
  background: no-repeat;
  background-image: url(../../../images/like.svg);
  cursor: pointer;
}

.article__like:hover {
  opacity: 0.5;
}
