.profile__name {
  grid-area: name;
  margin: 21px 0 0 0;

  color: var(--basic-white);
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    max-width: calc(282px - 2 * 19px);
  }
}
