.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  border: none;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
    background-size: 20px;
  }
}