.profile__button-add {
  display: inline-block;
  width: 150px;
  height: 50px;
  border: none;
  background: no-repeat;
  background-image: url(/images/add.svg);
  background-position: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}


@media screen and (max-width: 768px) {
  .profile__button-add {
    max-width: 282px;
    width: 100%;
    margin-top: 36px;
  }
}
