@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../global/variables.css);


@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);

@import url(../blocks/profile/__name-container/profile__name-container.css);

@import url(../blocks/profile/__occupation/profile__occupation.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);

@import url(../blocks/article-grid/article-grid.css);
@import url(../blocks/article-grid/__list/article-grid__list.css);

@import url(../blocks/article/article.css);
@import url(../blocks/article/__img/article__img.css);
@import url(../blocks/article/__description/article__description.css);
@import url(../blocks/article/__title/article__title.css);
@import url(../blocks/article/__like/article__like.css);
@import url(../blocks/article/__like/_active/article__like_active.css);
@import url(../blocks/article/__delete/article__delete.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/popup__header.css);
@import url(../blocks/popup/__form/popup__form.css);

@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);

@import url(../blocks/popup/__sumbit/popup__submit.css);
@import url(../blocks/popup/__sumbit/popup__submit_inactive.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);

@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__image/popup__image.css);

@import url(../blocks/popup-img/popup-img.css);
@import url(../blocks/popup-img/__container/popup-img__container.css);