.profile__info {
  display: grid;
  align-self: center;
  grid-template-columns: 150px 312px 24px;
  grid-template-areas:
    "avatar name edit"
    "avatar occupation occupation";
}

@media screen and (max-width: 768px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
