.profile__occupation {
  grid-area: occupation;
  margin: 0;

  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 768px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
  }
}
