.profile__occupation {
  grid-area: occupation;
  margin: 0;
  max-width: 336px;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
    max-width: calc(282px - 2 * 19px);
  }
}
